html,body{
	background-color: #fff;
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
	font-size: 14px;
	line-height: 1.42857143;/* 20px chia cho 14px*/
	color: #333333;
}
h1,h2,h3,h4,h5,h6{
	font-weight:400;
	margin: none;
}
div{
	margin: 0;
	padding: 0;
}
img {
  vertical-align: middle;
  border: 0;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}
.vnpt-content2{
	margin:auto;
}
.container-header{
	margin-right: auto;
	margin-left: auto;
	padding-left: 10px;
	padding-right: 10px;
}
.bg-header{
	/*background: url(img/background_header.png) no-repeat center top;
	background-size: 100%;*/
    border-bottom:1px solid #eee;
}
.bg-footer{
	border-top:5px solid #428bca;
}
.logo{
	padding: 10px;margin-right: 8px;
}
.slogan{
	text-transform: uppercase;
	padding-top: 15px;
    min-height: 6em;
}
.text-slogan1{
	color: #cc0000;font-size: 18px;
}
.text-slogan2{
	font-size: 14px;
	color: #23527c;
}
.nav-color{
	background-color: #428bca;
	border-radius: 0px;
	border: none;
	min-height: 40px;
}
.vnpt-padding-none{
	padding:0px 0px!important
}
.box-tiepnhan{
	border: 1px solid #faebcc;
	background: url(../Content/img/trongdong.png) no-repeat center center #fcf8e3;
	padding: 10px;
}
.box-tiepnhan label{
	font-size:12px;
}
.div-xoa{
	display: inline-block;
}
.select-box{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.box-title{padding: 6px 10px;margin-bottom: 0;}

#dspa-container {
    display: block;
}

.btn-portal-danhsach {
    display: none;
}
#dspa-container {
    display: block;
}
@media (max-width: 840px) {
    .btn-portal-danhsach {
        display: block;
    }
    #dspa-container {
        display: none;
    }
    .vnpt-row-padding {
        display: flex;
        flex-direction: column;
    }
    .content-main, .content-sidebar {
        margin-left: 3px;
        flex: 0 0 100%;
        max-width: 100%;
        ms-flex: 0 0 75%;
    }
}

@media (min-width: 840px) {
    .vnpt-row-padding {
        display: flex;
        flex-direction: row;
    }

    .content-main {
        flex: 0 0 75%;
        max-width: 75%;
        ms-flex: 0 0 75%;
    }

    .content-sidebar {
        flex: 0 0 25%;
        max-width: 25%;
        ms-flex: 0 0 25%;
        margin-left: 3px;
    }
}

.panel-primary .panel-heading {
    background-color: #428bca;
    padding: 10px;
    color: #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.panel-body {
    border: 1px solid #ddd;
    padding: 4px;
}


.dspa-list {
    padding: 6px;
}


