@charset "utf-8";
/* CSS Document */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from /normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */

h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.vnpt-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.vnpt-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.vnpt-image{max-width:100%;height:auto}a{color:inherit}
.vnpt-table,.vnpt-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.vnpt-table-all{border:1px solid #ccc}
.vnpt-bordered tr,.vnpt-table-all tr{border-bottom:1px solid #ddd}.vnpt-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.vnpt-table-all tr:nth-child(odd){background-color:#fff}.vnpt-table-all tr:nth-child(even){background-color:#f1f1f1}
.vnpt-hoverable tbody tr:hover,.vnpt-ul.vnpt-hoverable li:hover{background-color:#ccc}.vnpt-centered tr th,.vnpt-centered tr td{text-align:center}
.vnpt-table td,.vnpt-table th,.vnpt-table-all td,.vnpt-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.vnpt-table th:first-child,.vnpt-table td:first-child,.vnpt-table-all th:first-child,.vnpt-table-all td:first-child{padding-left:16px}
.vnpt-btn,.vnpt-button{border:none;display:inline-block;outline:0;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.vnpt-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.vnpt-btn,.vnpt-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.vnpt-disabled,.vnpt-btn:disabled,.vnpt-button:disabled{cursor:not-allowed;opacity:0.3}.vnpt-disabled *,:disabled *{pointer-events:none}
.vnpt-btn.vnpt-disabled:hover,.vnpt-btn:disabled:hover{box-shadow:none}
.vnpt-badge,.vnpt-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.vnpt-badge{border-radius:50%}
.vnpt-ul{list-style-type:none;padding:0;margin:0}.vnpt-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.vnpt-ul li:last-child{border-bottom:none}
.vnpt-tooltip,.vnpt-display-container{position:relative}.vnpt-tooltip .vnpt-text{display:none}.vnpt-tooltip:hover .vnpt-text{display:inline-block}
.vnpt-ripple:active{opacity:0.5}.vnpt-ripple{transition:opacity 0s}
.vnpt-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.vnpt-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.vnpt-dropdown-click,.vnpt-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.vnpt-dropdown-hover:hover .vnpt-dropdown-content{display:block;z-index:1}
.vnpt-dropdown-hover:first-child,.vnpt-dropdown-click:hover{background-color:#ccc;color:#000}
.vnpt-dropdown-hover:hover > .vnpt-button:first-child,.vnpt-dropdown-click:hover > .vnpt-button:first-child{background-color:#ccc;color:#000}
.vnpt-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0}
.vnpt-check,.vnpt-radio{width:24px;height:24px;position:relative;top:6px}
.vnpt-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.vnpt-bar-block .vnpt-dropdown-hover,.vnpt-bar-block .vnpt-dropdown-click{width:100%}
.vnpt-bar-block .vnpt-dropdown-hover .vnpt-dropdown-content,.vnpt-bar-block .vnpt-dropdown-click .vnpt-dropdown-content{min-width:100%}
.vnpt-bar-block .vnpt-dropdown-hover .vnpt-button,.vnpt-bar-block .vnpt-dropdown-click .vnpt-button{width:100%;text-align:left;padding:8px 16px}
.vnpt-main,#main{transition:margin-left .4s}
.vnpt-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.vnpt-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.vnpt-bar{width:100%;overflow:hidden}.vnpt-center .vnpt-bar{display:inline-block;width:auto}
.vnpt-bar .vnpt-bar-item{padding:8px 16px;float:left;width:auto;border:none;outline:none;display:block}
.vnpt-bar .vnpt-dropdown-hover,.vnpt-bar .vnpt-dropdown-click{position:static;float:left}
.vnpt-bar .vnpt-button{white-space:normal}
.vnpt-bar-block .vnpt-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;outline:none;white-space:normal;float:none}
.vnpt-bar-block.vnpt-center .vnpt-bar-item{text-align:center}.vnpt-block{display:block;width:100%}
.vnpt-responsive{display:block;overflow-x:auto}
.vnpt-container:after,.vnpt-container:before,.vnpt-panel:after,.vnpt-panel:before,.vnpt-row:after,.vnpt-row:before,.vnpt-row-padding:after,.vnpt-row-padding:before,
.vnpt-cell-row:before,.vnpt-cell-row:after,.vnpt-clear:after,.vnpt-clear:before,.vnpt-bar:before,.vnpt-bar:after{content:"";display:table;clear:both}
.vnpt-col,.vnpt-half,.vnpt-third,.vnpt-twothird,.vnpt-threequarter,.vnpt-quarter{float:left;width:100%}
.vnpt-col.s1{width:8.33333%}.vnpt-col.s2{width:16.66666%}.vnpt-col.s3{width:24.99999%}.vnpt-col.s4{width:33.33333%}
.vnpt-col.s5{width:41.66666%}.vnpt-col.s6{width:49.99999%}.vnpt-col.s7{width:58.33333%}.vnpt-col.s8{width:66.66666%}
.vnpt-col.s9{width:74.99999%}.vnpt-col.s10{width:83.33333%}.vnpt-col.s11{width:91.66666%}.vnpt-col.s12{width:99.99999%}
@media (min-width:601px){.vnpt-col.m1{width:8.33333%}.vnpt-col.m2{width:16.66666%}.vnpt-col.m3,.vnpt-quarter{width:24.99999%}.vnpt-col.m4,.vnpt-third{width:33.33333%}
.vnpt-col.m5{width:41.66666%}.vnpt-col.m6,.vnpt-half{width:49.99999%}.vnpt-col.m7{width:58.33333%}.vnpt-col.m8,.vnpt-twothird{width:66.66666%}
.vnpt-col.m9,.vnpt-threequarter{width:74.99999%}.vnpt-col.m10{width:83.33333%}.vnpt-col.m11{width:91.66666%}.vnpt-col.m12{width:99.99999%}}
@media (min-width:993px){.vnpt-col.l1{width:8.33333%}.vnpt-col.l2{width:16.66666%}.vnpt-col.l3{width:24.99999%}.vnpt-col.l4{width:33.33333%}
.vnpt-col.l5{width:41.66666%}.vnpt-col.l6{width:49.99999%}.vnpt-col.l7{width:58.33333%}.vnpt-col.l8{width:66.66666%}
.vnpt-col.l9{width:74.99999%}.vnpt-col.l10{width:83.33333%}.vnpt-col.l11{width:91.66666%}.vnpt-col.l12{width:99.99999%}}
.vnpt-content{max-width:980px;margin:auto}.vnpt-rest{overflow:hidden}
.vnpt-cell-row{display:table;width:100%}.vnpt-cell{display:table-cell}
.vnpt-cell-top{vertical-align:top}.vnpt-cell-middle{vertical-align:middle}.vnpt-cell-bottom{vertical-align:bottom}
.vnpt-hide{display:none!important}.vnpt-show-block,.vnpt-show{display:block!important}.vnpt-show-inline-block{display:inline-block!important}
@media (max-width:600px){.vnpt-modal-content{margin:0 10px;width:auto!important}.vnpt-modal{padding-top:30px}
.vnpt-dropdown-hover.vnpt-mobile .vnpt-dropdown-content,.vnpt-dropdown-click.vnpt-mobile .vnpt-dropdown-content{position:relative}	
.vnpt-hide-small{display:none!important}.vnpt-mobile{display:block;width:100%!important}.vnpt-bar-item.vnpt-mobile,.vnpt-dropdown-hover.vnpt-mobile,.vnpt-dropdown-click.vnpt-mobile{text-align:center}
.vnpt-dropdown-hover.vnpt-mobile,.vnpt-dropdown-hover.vnpt-mobile .vnpt-btn,.vnpt-dropdown-hover.vnpt-mobile .vnpt-button,.vnpt-dropdown-click.vnpt-mobile,.vnpt-dropdown-click.vnpt-mobile .vnpt-btn,.vnpt-dropdown-click.vnpt-mobile .vnpt-button{width:100%}}
@media (max-width:768px){.vnpt-modal-content{width:500px}.vnpt-modal{padding-top:50px}}
@media (min-width:993px){.vnpt-modal-content{width:900px}.vnpt-hide-large{display:none!important}.vnpt-sidebar.vnpt-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.vnpt-hide-medium{display:none!important}}
@media (max-width:992px){.vnpt-sidebar.vnpt-collapse{display:none}.vnpt-main{margin-left:0!important;margin-right:0!important}}
.vnpt-top,.vnpt-bottom{position:fixed;width:100%;z-index:1}.vnpt-top{top:0}.vnpt-bottom{bottom:0}
.vnpt-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.vnpt-display-topleft{position:absolute;left:0;top:0}.vnpt-display-topright{position:absolute;right:0;top:0}
.vnpt-display-bottomleft{position:absolute;left:0;bottom:0}.vnpt-display-bottomright{position:absolute;right:0;bottom:0}
.vnpt-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.vnpt-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.vnpt-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.vnpt-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.vnpt-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.vnpt-display-container:hover .vnpt-display-hover{display:block}.vnpt-display-container:hover span.vnpt-display-hover{display:inline-block}.vnpt-display-hover{display:none}
.vnpt-display-position{position:absolute}
.vnpt-circle{border-radius:50%}
.vnpt-round-small{border-radius:2px}.vnpt-round,.vnpt-round-medium{border-radius:4px}.vnpt-round-large{border-radius:8px}.vnpt-round-xlarge{border-radius:16px}.vnpt-round-xxlarge{border-radius:32px}
.vnpt-row-padding,.vnpt-row-padding>.vnpt-half,.vnpt-row-padding>.vnpt-third,.vnpt-row-padding>.vnpt-twothird,.vnpt-row-padding>.vnpt-threequarter,.vnpt-row-padding>.vnpt-quarter,.vnpt-row-padding>.vnpt-col{padding:0 8px}
.vnpt-container,.vnpt-panel{padding:0.01em 16px}.vnpt-panel{margin-top:16px;margin-bottom:16px}
.vnpt-code,.vnpt-codespan{font-family:Consolas,"courier new";font-size:16px}
.vnpt-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.vnpt-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.vnpt-card,.vnpt-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.vnpt-card-4,.vnpt-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.vnpt-spin{animation:vnpt-spin 2s infinite linear}@keyframes vnpt-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.vnpt-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.vnpt-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.vnpt-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.vnpt-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.vnpt-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.vnpt-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.vnpt-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.vnpt-animate-input{transition:width 0.4s ease-in-out}.vnpt-animate-input:focus{width:100%!important}
.vnpt-opacity,.vnpt-hover-opacity:hover{opacity:0.60}.vnpt-opacity-off,.vnpt-hover-opacity-off:hover{opacity:1}
.vnpt-opacity-max{opacity:0.25}.vnpt-opacity-min{opacity:0.75}
.vnpt-greyscale-max,.vnpt-grayscale-max,.vnpt-hover-greyscale:hover,.vnpt-hover-grayscale:hover{filter:grayscale(100%)}
.vnpt-greyscale,.vnpt-grayscale{filter:grayscale(75%)}.vnpt-greyscale-min,.vnpt-grayscale-min{filter:grayscale(50%)}
.vnpt-sepia{filter:sepia(75%)}.vnpt-sepia-max,.vnpt-hover-sepia:hover{filter:sepia(100%)}.vnpt-sepia-min{filter:sepia(50%)}
.vnpt-tiny{font-size:10px!important}.vnpt-small{font-size:12px!important}.vnpt-medium{font-size:15px!important}.vnpt-large{font-size:18px!important}
.vnpt-xlarge{font-size:24px!important}.vnpt-xxlarge{font-size:36px!important}.vnpt-xxxlarge{font-size:48px!important}.vnpt-jumbo{font-size:64px!important}
.vnpt-left-align{text-align:left!important}.vnpt-right-align{text-align:right!important}.vnpt-justify{text-align:justify!important}.vnpt-center{text-align:center!important}
.vnpt-border-0{border:0!important}.vnpt-border{border:1px solid #ccc!important}
.vnpt-border-top{border-top:1px solid #ccc!important}.vnpt-border-bottom{border-bottom:1px solid #ccc!important}
.vnpt-border-left{border-left:1px solid #ccc!important}.vnpt-border-right{border-right:1px solid #ccc!important}
.vnpt-topbar{border-top:6px solid #ccc!important}.vnpt-bottombar{border-bottom:6px solid #ccc!important}
.vnpt-leftbar{border-left:6px solid #ccc!important}.vnpt-rightbar{border-right:6px solid #ccc!important}
.vnpt-section,.vnpt-code{margin-top:16px!important;margin-bottom:16px!important}
.vnpt-margin{margin:16px!important}.vnpt-margin-top{margin-top:16px!important}.vnpt-margin-bottom{margin-bottom:16px!important}
.vnpt-margin-left{margin-left:16px!important}.vnpt-margin-right{margin-right:16px!important}
.vnpt-padding-small{padding:4px 8px!important}.vnpt-padding{padding:8px 16px!important}.vnpt-padding-large{padding:12px 24px!important}
.vnpt-padding-16{padding-top:16px!important;padding-bottom:16px!important}.vnpt-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.vnpt-padding-32{padding-top:32px!important;padding-bottom:32px!important}.vnpt-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.vnpt-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.vnpt-left{float:left!important}.vnpt-right{float:right!important}
.vnpt-button:hover{color:#000!important;background-color:#ccc!important}
.vnpt-transparent,.vnpt-hover-none:hover{background-color:transparent!important}
.vnpt-hover-none:hover{box-shadow:none!important}
/* Colors */
.vnpt-amber,.vnpt-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.vnpt-aqua,.vnpt-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.vnpt-blue,.vnpt-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.vnpt-light-blue,.vnpt-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.vnpt-brown,.vnpt-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.vnpt-cyan,.vnpt-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.vnpt-blue-grey,.vnpt-hover-blue-grey:hover,.vnpt-blue-gray,.vnpt-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.vnpt-green,.vnpt-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.vnpt-light-green,.vnpt-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.vnpt-indigo,.vnpt-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.vnpt-khaki,.vnpt-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.vnpt-lime,.vnpt-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.vnpt-orange,.vnpt-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.vnpt-deep-orange,.vnpt-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.vnpt-pink,.vnpt-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.vnpt-purple,.vnpt-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.vnpt-deep-purple,.vnpt-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.vnpt-red,.vnpt-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.vnpt-sand,.vnpt-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.vnpt-teal,.vnpt-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.vnpt-yellow,.vnpt-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.vnpt-white,.vnpt-hover-white:hover{color:#000!important;background-color:#fff!important}
.vnpt-black,.vnpt-hover-black:hover{color:#fff!important;background-color:#000!important}
.vnpt-grey,.vnpt-hover-grey:hover,.vnpt-gray,.vnpt-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.vnpt-light-grey,.vnpt-hover-light-grey:hover,.vnpt-light-gray,.vnpt-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.vnpt-dark-grey,.vnpt-hover-dark-grey:hover,.vnpt-dark-gray,.vnpt-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.vnpt-pale-red,.vnpt-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.vnpt-pale-green,.vnpt-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.vnpt-pale-yellow,.vnpt-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.vnpt-pale-blue,.vnpt-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.vnpt-text-amber,.vnpt-hover-text-amber:hover{color:#ffc107!important}
.vnpt-text-aqua,.vnpt-hover-text-aqua:hover{color:#00ffff!important}
.vnpt-text-blue,.vnpt-hover-text-blue:hover{color:#2196F3!important}
.vnpt-text-light-blue,.vnpt-hover-text-light-blue:hover{color:#87CEEB!important}
.vnpt-text-brown,.vnpt-hover-text-brown:hover{color:#795548!important}
.vnpt-text-cyan,.vnpt-hover-text-cyan:hover{color:#00bcd4!important}
.vnpt-text-blue-grey,.vnpt-hover-text-blue-grey:hover,.vnpt-text-blue-gray,.vnpt-hover-text-blue-gray:hover{color:#607d8b!important}
.vnpt-text-green,.vnpt-hover-text-green:hover{color:#4CAF50!important}
.vnpt-text-light-green,.vnpt-hover-text-light-green:hover{color:#8bc34a!important}
.vnpt-text-indigo,.vnpt-hover-text-indigo:hover{color:#3f51b5!important}
.vnpt-text-khaki,.vnpt-hover-text-khaki:hover{color:#b4aa50!important}
.vnpt-text-lime,.vnpt-hover-text-lime:hover{color:#cddc39!important}
.vnpt-text-orange,.vnpt-hover-text-orange:hover{color:#ff9800!important}
.vnpt-text-deep-orange,.vnpt-hover-text-deep-orange:hover{color:#ff5722!important}
.vnpt-text-pink,.vnpt-hover-text-pink:hover{color:#e91e63!important}
.vnpt-text-purple,.vnpt-hover-text-purple:hover{color:#9c27b0!important}
.vnpt-text-deep-purple,.vnpt-hover-text-deep-purple:hover{color:#673ab7!important}
.vnpt-text-red,.vnpt-hover-text-red:hover{color:#f44336!important}
.vnpt-text-sand,.vnpt-hover-text-sand:hover{color:#fdf5e6!important}
.vnpt-text-teal,.vnpt-hover-text-teal:hover{color:#009688!important}
.vnpt-text-yellow,.vnpt-hover-text-yellow:hover{color:#d2be0e!important}
.vnpt-text-white,.vnpt-hover-text-white:hover{color:#fff!important}
.vnpt-text-black,.vnpt-hover-text-black:hover{color:#000!important}
.vnpt-text-grey,.vnpt-hover-text-grey:hover,.vnpt-text-gray,.vnpt-hover-text-gray:hover{color:#757575!important}
.vnpt-text-light-grey,.vnpt-hover-text-light-grey:hover,.vnpt-text-light-gray,.vnpt-hover-text-light-gray:hover{color:#f1f1f1!important}
.vnpt-text-dark-grey,.vnpt-hover-text-dark-grey:hover,.vnpt-text-dark-gray,.vnpt-hover-text-dark-gray:hover{color:#3a3a3a!important}
.vnpt-border-amber,.vnpt-hover-border-amber:hover{border-color:#ffc107!important}
.vnpt-border-aqua,.vnpt-hover-border-aqua:hover{border-color:#00ffff!important}
.vnpt-border-blue,.vnpt-hover-border-blue:hover{border-color:#2196F3!important}
.vnpt-border-light-blue,.vnpt-hover-border-light-blue:hover{border-color:#87CEEB!important}
.vnpt-border-brown,.vnpt-hover-border-brown:hover{border-color:#795548!important}
.vnpt-border-cyan,.vnpt-hover-border-cyan:hover{border-color:#00bcd4!important}
.vnpt-border-blue-grey,.vnpt-hover-border-blue-grey:hover,.vnpt-border-blue-gray,.vnpt-hover-border-blue-gray:hover{border-color:#607d8b!important}
.vnpt-border-green,.vnpt-hover-border-green:hover{border-color:#4CAF50!important}
.vnpt-border-light-green,.vnpt-hover-border-light-green:hover{border-color:#8bc34a!important}
.vnpt-border-indigo,.vnpt-hover-border-indigo:hover{border-color:#3f51b5!important}
.vnpt-border-khaki,.vnpt-hover-border-khaki:hover{border-color:#f0e68c!important}
.vnpt-border-lime,.vnpt-hover-border-lime:hover{border-color:#cddc39!important}
.vnpt-border-orange,.vnpt-hover-border-orange:hover{border-color:#ff9800!important}
.vnpt-border-deep-orange,.vnpt-hover-border-deep-orange:hover{border-color:#ff5722!important}
.vnpt-border-pink,.vnpt-hover-border-pink:hover{border-color:#e91e63!important}
.vnpt-border-purple,.vnpt-hover-border-purple:hover{border-color:#9c27b0!important}
.vnpt-border-deep-purple,.vnpt-hover-border-deep-purple:hover{border-color:#673ab7!important}
.vnpt-border-red,.vnpt-hover-border-red:hover{border-color:#f44336!important}
.vnpt-border-sand,.vnpt-hover-border-sand:hover{border-color:#fdf5e6!important}
.vnpt-border-teal,.vnpt-hover-border-teal:hover{border-color:#009688!important}
.vnpt-border-yellow,.vnpt-hover-border-yellow:hover{border-color:#ffeb3b!important}
.vnpt-border-white,.vnpt-hover-border-white:hover{border-color:#fff!important}
.vnpt-border-black,.vnpt-hover-border-black:hover{border-color:#000!important}
.vnpt-border-grey,.vnpt-hover-border-grey:hover,.vnpt-border-gray,.vnpt-hover-border-gray:hover{border-color:#9e9e9e!important}
.vnpt-border-light-grey,.vnpt-hover-border-light-grey:hover,.vnpt-border-light-gray,.vnpt-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.vnpt-border-dark-grey,.vnpt-hover-border-dark-grey:hover,.vnpt-border-dark-gray,.vnpt-hover-border-dark-gray:hover{border-color:#616161!important}
.vnpt-border-pale-red,.vnpt-hover-border-pale-red:hover{border-color:#ffe7e7!important}.vnpt-border-pale-green,.vnpt-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.vnpt-border-pale-yellow,.vnpt-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.vnpt-border-pale-blue,.vnpt-hover-border-pale-blue:hover{border-color:#e7ffff!important}
