@{
    ViewBag.Title = "Index";
}

<br/>
<audio controls autoplay>
    <source id="playback-audio-src" src="@ViewBag.filepath" type="audio/mpeg">
</audio>

<br/>
<div>
    @ViewBag.errmsg
</div>
