@using WebUI
@using HotlineCore

<div class="tab-pane" id="tab_ket_qua_xu_ly">
    <div class="panel-group">
        @*<div v-if="phieu_dtb" style="color:#f00">Đã thông báo kết quả cho người dân.</div>*@

        <div v-if="!phieu_dxl && onMyStep" class="panel panel-default">
            <div class="panel-heading">Chuyển đơn vị</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <textarea class="form-control" v-model="noidung_xuly_baosai" placeholder="Nội dung chuyển đơn vị" rows="2" spellcheck="false"></textarea>
                    </div>
                </div>
                <br />

                <div>
                    <div class="col">
                        <label>Chuyển sang đơn vị</label>
                        <select v-model="chuyen_donvi_id" name="chuyen_donvi_id" class="form-control">
                            <option v-for="item in dsDonVi" v-bind:value="item.donvi_id">{{ item.donvi_ten }}</option>
                        </select>
                    </div>
                    <div class="col">
                        <label>Lĩnh vực</label>
                        <select v-model="chuyen_linhvuc_id" name="chuyen_linhvuc_id" class="form-control">
                            <option v-for="item in dsLinhVucChuyen" v-bind:value="item.linhvuc_id">{{ item.linhvuc_ten }}</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="col-sm-3">
                    <button type="button" class="btn btn-default" v-on:click="chuyenlaiDonVi">Xác nhận chuyển đơn vị</button>
                </div>
            </div>
        </div>
        @Html.Partial("PACT_KQXL_CTXL")
    </div>
</div>