<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <system.web>
    <compilation targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="true" />
    <add key="X1" value="I2F4zFhvYmLMDn+51NzmEoSD0/xm1aONBoTOchZWly7puKbV1AnXMEw8h8cEMdQwPCVc4Gax3jvF/GosVqLlQ5j/0ptzueuu5poDqgHoHSsq1RG7lREFma4Gz+FyhK+rpfBEO2jy1+Ah3tnFM20PsYcMLb6nEs5w1MxCYAOggm99onAUs3RGjqAPaYw7QsT2qRs9g/xoRVXGgZNKlKJNcKuKIrlI1LkMz8A0GgK+Tn/LzmZXCLQUc1Vcnh4anHZZ9QhdltSwUnv85vGd7Wmsx3EJ+40wZYAlGhv8XsSLMuo=" />
    <add key="X1D" value="mRPVx7O0umK6HFE5dEgJ/QGX+Y4YrJnm6QTTLCtvSML5pgTXBlieN+tywkBpToDm+FHKgjU0bQqtzCfIAMEV99pMJv5e0sElYFhj5ChYMcSNDrWXJgPumjWczPB3dU/BWQdiRv8f9qhjqwPTMNbSe8LmeZRJiY7adz2lnAjPmJu8ywiLAhg7VhwvzZJ47EggLjuJmSmp4R4PvzQIQpJZ+38r5dTAt7CiyzrQtiV5OxUd0jA01xB3Xvxv2bzrid2HUAFPzl8BV88FnrAcp9rFbo6ZyL/oDdZpLTj3vYl3zSI=" />
    <add key="Y1" value="aIsBuLmKnDz+UbvMzuOp/Ulho9OMdWLKWg3xeFXx5asCyIo6R9VsDo+MtH/AoFd24xKdNYvs0YLYkuB30YWGQTX+psnUmVAKc/z0Q4Rx/N5wv/Jxs01ZiqdgAPi9jP1O" />
    <add key="Y1D" value="" />
    <add key="X2" value="" />
    <add key="X2D" value="" />
    <add key="Z1" value="" />
    <add key="Z1D" value="" />
	<add key="LOG_DETAIL" value="" />
  </appSettings>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <!--<add name="Access-Control-Allow-Origin" value="*" />-->
      </customHeaders>
    </httpProtocol>
    <!--<security>
      <requestFiltering>
        -->
    <!--20 Mb-->
    <!--
        <requestLimits maxAllowedContentLength="20971520" />
      </requestFiltering>
    </security>-->
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="logs\%date{yyyy_MM_dd}.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <!--<dependentAssembly>

        <assemblyIdentity name="NuGet.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.14.0.832" newVersion="2.14.0.832" />

      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.10.0.0" newVersion="2.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.DependencyCollector" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.10.0.0" newVersion="2.10.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: FCAD7CBF-1E45-4886-B9C5-1A054DFD493E-->